html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a[href] {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

body {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-family: 'Fjalla One', sans-serif;

  &.loading {
    opacity: 0.1;
    visibility: hidden;
  }
}

.ux-home {
  &.hidden {
    display: none;
  }
}
  .ux-intro-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
    transition: opacity 0.2s;

    &.hidden {
      opacity: 0;
      height: 0;
      transition: opacity 0.2s, height 0 0.2s;
    }
  }
    .ux-intro-name {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 228px;
      height: 86px;
      transform: translate(-50%, -50%);
      line-height: 86px;
      text-align: center;
      background: white;
      color: black;
      text-transform: uppercase;
      font-size: 33px;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }

  .ux-menu-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: translate(0, -10px);

    .ux-menu-item-bg {
      width: 100%;
      height: 100%;
      background: url(/img/hubble.jpg) center top;
      transition: opacity 0.2s;
      clip-path: url(/img/menu-triangle-down.svg);
      -webkit-mask-box-image: url(/img/menu-triangle-down.svg);
    }

    &.hover {
      .ux-menu-item-bg {
        opacity: 0.5;
      }

      .ux-menu-item-text {
        opacity: 1;
      }
    }

    &[ux-menu="radio"] {
      width: 50%;
      height: 100%;
      transform: translate(-20px, 0);

      .ux-menu-item-bg {
        background-position: left center;
        clip-path: url(/img/menu-triangle-right.svg);
        -webkit-mask-box-image: url(/img/menu-triangle-right.svg);
      }
    }

    &[ux-menu="illustration"] {
      top: 50%;
      width: 100%;
      height: 50%;
      transform: translate(0, 10px);

      .ux-menu-item-bg {
        background-position: center bottom;
        clip-path: url(/img/menu-triangle-up.svg);
        -webkit-mask-box-image: url(/img/menu-triangle-up.svg);
      }
    }

    &[ux-menu="photo"] {
      left: 50%;
      width: 50%;
      height: 100%;
      transform: translate(20px, 0);

      .ux-menu-item-bg {
        background-position: right center;
        clip-path: url(/img/menu-triangle-left.svg);
        -webkit-mask-box-image: url(/img/menu-triangle-left.svg);
      }
    }
  }
    .ux-menu-item-text {
      position: absolute;
      top: 50%;
      left: 50%;
      text-transform: uppercase;
      font-size: 32px;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s;
    }

  .ux-menu-item-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    polygon {
      fill: transparent;
      cursor: pointer;
    }
  }
/* end home */


@top-bottom-margin: 48px;
@left-col-width: 164px;
@col-margin: 62px;
@thumb-width: 80px;
@thumb-height: 70px;
@thumb-margin: 14px;
@items-width: @thumb-width * 3 + @thumb-margin * 3;
@current-item-margin: 110px;
@current-item-width: calc(~"100% -" @left-col-width + @items-width + @col-margin * 2 + @current-item-margin);
.ux-items {
  padding-bottom: @top-bottom-margin;

  &.hidden {
    display: none;
  }
}
  .ux-items-title {
    height: 120px - @top-bottom-margin;
    padding: @top-bottom-margin @col-margin 0;
    font-size: 36px;
    text-transform: uppercase;
  }

  .ux-items-medium {
    display: inline-block;
    vertical-align: top;
    width: @left-col-width;
    padding: 0 0 0 @col-margin;
    font-size: 26px;
    text-transform: uppercase;
  }

  .ux-item-current {
    display: inline-block;
    vertical-align: top;
    width: @current-item-width;

    img {
      max-width: 100%;
    }
  }
    .ux-item-title {
      padding: 24px 0;
      font-size: 24px;
      text-transform: uppercase;
    }
    .ux-item-writeup {
      font-size: 18px;
    }

  .ux-items-list {
    float: right;
    width: @items-width;
    padding: 0 (62px - @thumb-margin) 0 0;
    font-size: 0;
  }
    .ux-item-thumb {
      display: inline-block;
      width: @thumb-width;
      height: @thumb-height;
      margin: 0 @thumb-margin @thumb-margin 0;
      background-size: cover;
      background-position: center;
    }

