<!doctype html>
<html>
  <head>
    <title>Read Club</title>

    <link rel="stylesheet/less" href="/less/app.less">

    <script src="/util/less.js"></script>
    <script src="/util/underscore.js"></script>
    <script src="/util/wonderscore.js"></script>
    <script src="/util/zepto.js"></script>
    <script src="/util/backbone.js"></script>
    <script src="/util/require.js"></script>
    <script src="/tmpl/tmpl.js"></script>
    <script src="/ux/app.js"></script>

    <script>
      UX.env = {
        el: 'body',
        user: <%= JSON.stringify(t.req.user || null) %>,
        users: <%= JSON.stringify(t.users) %>,
        items: <%= JSON.stringify(t.items) %>
      };
    </script>

  </head>

  <body class="loading">

    <% _.each(['video', 'photo', 'radio', 'illustration'], function (medium) { %>
      <div class="ux-menu-item" ux-menu="<%- medium %>">
        <svg class="ux-menu-item-svg" viewBox="0 0 100 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="50 100 100 0 0 0 "></polygon>
        </svg>
      </div>
    <% }); %>

  </body>

</html>
