<div class="ux-items-title">
  <a href="/">Stephanie Foo</a>
</div>
<div class="ux-items-medium"><%- t.medium %></div>

<% if (t.mainItem) { %>
  <div class="ux-item-current">
    <% if (t.mainItem.get('medium') === 'photo') { %>
      <img src="<%- t.mainItem.get('src') %>">
    <% } else if (_.contains(['radio', 'video'], t.mainItem.get('medium'))) { %>
      <%= t.mainItem.embedHtml() %>
    <% } %>

    <% if (t.mainItem.has('title')) { %>
      <div class="ux-item-title"><%- t.mainItem.get('title') %></div>
    <% } %>
    <% if (t.mainItem.has('writeup')) { %>
      <div class="ux-item-writeup"><%- t.mainItem.get('writeup') %></div>
    <% } %>
  </div>
<% } %>

<div class="ux-items-list">
  <% _.each(t.items, function (item) { %>
    <a href="/<%- item.linkUrl() %>">
      <span class="ux-item-thumb" style="background-image: url(<%- item.thumbSrc() %>)"></span>
    </a>
  <% }); %>
</div>

