html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a[href] {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

body {
  font-family: Helvetica-Neue, Helvetica, sans-serif;
  font-family: 'Fjalla One', sans-serif;

  &.loading {
    opacity: 0.1;
    visibility: hidden;
  }
}


.ux-items {
  padding: 20px;
}
  .ux-items-list {
    padding: 0 0 20px;
  }
  .ux-item {
    margin-top: 30px;
  }
  .ux-item-form {
    div {
      margin-top: 10px;
    }
    textarea {
      width: 500px;
      height: 100px;
    }
    input[type="text"] {
      width: 500px;
    }
  }

