<div class="ux-items-title">
  <a href="/">Stephanie Foo</a>
</div>

<button class="ux-items-new">new +</button>

<div class="ux-items-list">
  <% t.items.each(function (item) { %>
    <div class="ux-item">
      <form class="ux-item-form" data-cid="<%- item.cid %>">

        <div>title</div>
        <input type="text" class="input" name="title" value="<%- item.get('title') %>">

        <div>medium</div>
        <select class="input" name="medium">
          <% _.each(['video', 'photo', 'illustration', 'radio'], function (medium) { %>
            <option<% if (medium === item.get('medium')) { %> selected<% } %>><%- medium %></option>
          <% }); %>
        </select>

        <div>src</div>
        <input type="text" class="input" name="src" value="<%- item.get('src') %>">

        <div>writeup</div>
        <textarea class="input" name="writeup"><%- item.get('writeup') %></textarea>

        <div>actions</div>
        <a href="<%- item.linkUrl() %>" target="_blank">view</a>
        <button class="submit">save</button>
        <button class="ux-item-delete">delete</button>
      </form>
    </div>
  <% }); %>
</div>


